<launch>
    <arg name="new_topic_name_all" default="new_new_chatter" />
    <include file="$(find study_pkg)/launch/sender_receiver.launch" >
        <param name="new_topic_name" value="$(arg new_topic_name_all)" />
    </include>
    <node name="listener" pkg="rospy_tutorials" type="listener.py" output="screen"/>
    <node name="talker" pkg="rospy_tutorials" type="talker.py" output="screen"/>
</launch>