<launch>
    <arg name="new_topic_name" default="my_chatter" />
    <group ns="my">
        <node name="receiver" pkg="study_pkg" type="listener.py" output="screen">
            <remap from="my_chat_topic" to="$(arg new_topic_name)" />
        </node>
        <node name="sender"   pkg="study_pkg" type="talker.py"   output="screen">
            <remap from="my_chat_topic" to="$(arg new_topic_name)" />
        </node>
    </group>
</launch>